doctype html
head
    meta(charset='UTF-8')
    title User Profile
    link(rel='stylesheet' href='./styles.css')

body
    include ./header

    div#main
        #left.column.left
            h1 User profile
            br
            h2#nameHeader Name: #{user["username"]}

            h3#passHeader Password: #{user["password"]}
            h3#typeHeader Account type: #{user["type"]}
            br

            h4 You may modify your user information below:
            br

            p Username: 
            br
            input#nameInput(type="text" placeholder='New username')
            br
            p Password: 
            br
            input#passInput(type="text" placeholder='New password')
            br

            p Account type: 
                    br
                    select#typeSelect(name="typeSelect") 
                        option(value=patron) Patron
                        option(value=artist) Artist
                    br
            br
            button#submitModifs Submit modifications
            br
            br
            if (user["type"] == "Artist")
                a(href='/addArt')
                    button Add art
                br
                br
                a(href='/addWorkshop')
                    button Create Workshop
        #middle.column.middle
            //- check if any categories exist
            //- if there are no categories, then there can be no items, so no need to show anything
            if (Object.keys(user["followedArtists"]).length > 0)
                h2 Followed artists:
                div#followedArtistsDiv
                    each artistItems, artistName in user["followedArtists"]
                        a(href=`/artists/${artistName}`) #{artistName}
                        br
            else 
                h2 You follow nobody
            br
            if (Object.keys(user["likedArt"]).length > 0)
                h2 Liked artworks:
                div#likedArtDiv
                    each artObj, artName in user["likedArt"]
                        a(href=`/gallery/${artName}`) #{artName}
                        br
            else 
                h2 You have no likes
            br
            if (Object.keys(user["reviews"]).length > 0)
                h2 Reviews: 
                div#reviewsDiv
                    each reviewObj, reviewIndex in user["reviews"]
                        p= reviewObj["review"]
                        br
                        p Left on: 
                            a(href=`/gallery/${reviewObj["artwork"]}`) #{reviewObj["artwork"]}
                        img.rmvReview(src='/remove.png' id=`${reviewIndex}-${reviewObj["artwork"]}` alt='delReview' style='width:20px; height:20px;')
                        br
            else 
                h2 You made no reviews
        #right.column.right

    script(src='../profileScript.js')